In [10]:
import pandas as pd
import numpy as np
import sklearn
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle
from sklearn.utils import shuffle
from sklearn import tree
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor

In [11]:
df = pd.read_csv("C:/Users/janine van wonderen/Desktop/dmt2/training_set_VU_DM.csv",delimiter=",", usecols = ['srch_id', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv', 'click_bool', 'gross_bookings_usd',
       'booking_bool'])
df = shuffle(df)

In [13]:
n = 20
numOfRowsTest = (int(len(df2)*(n/100)))
testset = df.tail(numOfRowsTest)

benchmark_solution = testset[["srch_id", "prop_id", "click_bool", "booking_bool"]].sort_values(["srch_id"])

    srch_id  prop_id  click_bool  booking_bool
17        1    88127           0             0
24        1   111000           0             0
22        1    97247           0             0
1         1    10404           0             0
33        4    39993           0             0