In [1]:
import pandas as pd
import numpy as np
import sklearn
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle
from sklearn.utils import shuffle
from sklearn import tree
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor

In [14]:
df = pd.read_csv("C:/Users/janine van wonderen/Desktop/dmt2/20PercentTestWithMeanNoShuffle.csv",delimiter=",", 
                 usecols = ['srch_id', 'prop_id', 'click_bool','booking_bool','price_usd'])

In [15]:
df= shuffle(df)

In [16]:
benchmark_solution = df.sort_values(["srch_id"])

In [17]:
benchmark_solution.head()

    srch_id  prop_id  price_usd  click_bool  booking_bool
11   266262    75956      59.63           0             0
15   266262    84707      93.47           0             0
3    266262    40200     103.14           0             0
7    266262    65022      33.84           0             0
18   266262    99504      49.96           0             0

In [18]:
def getLog(x):
    return math.log(x+1,2)

In [19]:
def getScore(df):
    df['rank_srch_id'] = df.groupby('srch_id').cumcount().add(1)
    
    df['gain'] = 5*df['booking_bool']
    df['gain'] = np.where(df['gain'] == 0, df['click_bool'], df['gain'])
    
    

    df['g/rank'] = df['gain']/df['rank_srch_id']
    gi_sum = df['g/rank'].sum()

    df['gain_sorted'] = list(df[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
    df['g/rank_sorted'] = df['gain_sorted']/df['rank_srch_id']
    gi_sorted_sum = df['g/rank_sorted'].sum()
    
    score = gi_sum/gi_sorted_sum

    return score, gi_sum, gi_sorted_sum

In [20]:
score, gi_sum, gi_sorted_sum = getScore(benchmark_solution)
print(round(score,10))

0.1810204795

In [ ]:
roc_auc_score(y_true, y_scores)

In [21]:
benchmark_solution2 = df.sort_values(["srch_id", "price_usd"])
benchmark_solution2.head()

    srch_id  prop_id  price_usd  click_bool  booking_bool
7    266262    65022      33.84           0             0
18   266262    99504      49.96           0             0
21   266262   115080      54.79           0             0
5    266262    51644      54.79           0             0
11   266262    75956      59.63           0             0

In [22]:
score, gi_sum, gi_sorted_sum = getScore(benchmark_solution2)
print(round(score,10))

0.2174784789

In [ ]:
def getScore(df):
    df['rank_srch_id'] = df.groupby('srch_id').cumcount().add(1)
    
    df['gain'] = 5*df['booking_bool']
    df['gain'] = np.where(df['gain'] == 0, df['click_bool'], df['gain'])  

    df['g/rank'] = df['gain']/df['rank_srch_id']
    gi_sum = df['g/rank'].sum()
    print(gi_sum)
    df['gain_sorted'] = list(df[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
    df['g/rank_sorted'] = df['gain_sorted']/df['rank_srch_id']
    gi_sorted_sum = df['g/rank_sorted'].sum()
    print(gi_sorted_sum)
    score = gi_sum/gi_sorted_sum

    return score, gi_sum, gi_sorted_sum