In [56]:
import pandas as pd
import numpy as np
import sklearn
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle
from sklearn.utils import shuffle
from sklearn import tree
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor

In [57]:
df = pd.read_csv("C:/Users/janine van wonderen/Desktop/dmt2/80PercentTrainWithMean.csv",delimiter=",", 
                 usecols = ['srch_id', 'prop_id', 'click_bool','booking_bool'])

In [58]:
df= shuffle(df)

In [59]:
benchmark_solution = df.sort_values(["srch_id"])

In [60]:
benchmark_solution.head()

         srch_id  prop_id  click_bool  booking_bool
1227077        1    50984           0             0
3763511        1   114766           0             0
352601         1    30184           0             0
1371928        1    44147           0             0
3018023        1   107872           0             0

In [61]:
benchmark_solution.head()

         srch_id  prop_id  click_bool  booking_bool
1227077        1    50984           0             0
3763511        1   114766           0             0
352601         1    30184           0             0
1371928        1    44147           0             0
3018023        1   107872           0             0

In [62]:
def getScore(df):
    df['rank_srch_id'] = df.groupby('srch_id').cumcount().add(1)
    df['gain'] = 5*df['booking_bool']
    df['gain'] = np.where(df['gain'] == 0, df['click_bool'], df['gain'])

    df['g/rank'] = df['gain']/df['rank_srch_id']
    gi_sum = df['g/rank'].sum()
    
    df['gain_sorted'] = list(df[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
    df['g/rank_sorted'] = df['gain_sorted']/df['rank_srch_id']
    gi_sorted_sum = df['g/rank_sorted'].sum() 
    score = gi_sum/gi_sorted_sum
    return score, gi_sum, gi_sorted_sum

In [63]:
def getScore(df):
    df['rank_srch_id'] = df.groupby('srch_id').cumcount().add(1)
    
    df['gain'] = 5*df['booking_bool']
    df['gain'] = np.where(df['gain'] == 0, df['click_bool'], df['gain'])  

    df['g/rank'] = df['gain']/df['rank_srch_id']
    gi_sum = df['g/rank'].sum()
    print(gi_sum)
    df['gain_sorted'] = list(df[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
    df['g/rank_sorted'] = df['gain_sorted']/df['rank_srch_id']
    gi_sorted_sum = df['g/rank_sorted'].sum()
    print(gi_sorted_sum)
    score = gi_sum/gi_sorted_sum

    return score, gi_sum, gi_sorted_sum

In [64]:
score, gi_sum, gi_sorted_sum = getScore(benchmark_solution)
print(score, gi_sum, gi_sorted_sum)

126608.10085007884
610004.0551825193
0.20755288391024948 126608.10085007884 610004.0551825193

In [54]:
score, gi_sum, gi_sorted_sum = getScore(df)
print(score)

126512.43838853165
108697.08568104217
1.1638990833642622

In [33]:
benchmark_solution['rank_srch_id'] = benchmark_solution.groupby('srch_id').cumcount().add(1)

In [34]:
benchmark_solution.head()

         srch_id  prop_id  click_bool  booking_bool  rank_srch_id
1796145        1    59267           0             0             1
2565125        1      893           0             0             2
1722890        1   111000           0             0             3
3018023        1   107872           0             0             4
1929447        1    53341           0             0             5

In [35]:
benchmark_solution['gain'] = 5*benchmark_solution['booking_bool']

In [36]:
benchmark_solution['gain'] = np.where(benchmark_solution['gain'] == 0, benchmark_solution['click_bool'], benchmark_solution['gain'])

In [40]:
benchmark_solution.tail()

         srch_id  prop_id  click_bool  booking_bool  rank_srch_id  gain
2423493   332785   128360           1             1             2     5
78745     332785    55110           0             0             3     0
431068    332785    88083           0             0             4     0
2331982   332785    94508           0             0             5     0
3330865   332785   134949           0             0             6     0

In [41]:
benchmark_solution['g/rank'] = benchmark_solution['gain']/benchmark_solution['rank_srch_id']
gi_sum = benchmark_solution['g/rank'].sum()

In [43]:
benchmark_solution.tail(6)

,srch_id,prop_id,click_bool,booking_bool,rank_srch_id,gain,g/rank
2155748,332785,77700,0,0,1,0,0.0
2423493,332785,128360,1,1,2,5,2.5
78745,332785,55110,0,0,3,0,0.0
431068,332785,88083,0,0,4,0,0.0
2331982,332785,94508,0,0,5,0,0.0
3330865,332785,134949,0,0,6,0,0.0

In [44]:
benchmark_solution['gain_sorted'] = list(benchmark_solution[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
#df['g/rank_sorted'] = df['gain_sorted']/df['rank_srch_id']
#gi_sorted_sum = df['g/rank_sorted'].sum()

In [45]:
benchmark_solution.tail(6)

,srch_id,prop_id,click_bool,booking_bool,rank_srch_id,gain,g/rank,gain_sorted
2155748,332785,77700,0,0,1,0,0.0,5
2423493,332785,128360,1,1,2,5,2.5,0
78745,332785,55110,0,0,3,0,0.0,0
431068,332785,88083,0,0,4,0,0.0,0
2331982,332785,94508,0,0,5,0,0.0,0
3330865,332785,134949,0,0,6,0,0.0,0

In [46]:
benchmark_solution['g/rank_sorted'] = benchmark_solution['gain_sorted']/benchmark_solution['rank_srch_id']

In [47]:
benchmark_solution.tail(6)

,srch_id,prop_id,click_bool,booking_bool,rank_srch_id,gain,g/rank,gain_sorted,g/rank_sorted
2155748,332785,77700,0,0,1,0,0.0,5,5.0
2423493,332785,128360,1,1,2,5,2.5,0,0.0
78745,332785,55110,0,0,3,0,0.0,0,0.0
431068,332785,88083,0,0,4,0,0.0,0,0.0
2331982,332785,94508,0,0,5,0,0.0,0,0.0
3330865,332785,134949,0,0,6,0,0.0,0,0.0

In [50]:
gi_sorted_sum = benchmark_solution['g/rank_sorted'].sum()
gi_sorted_sum

610004.0551825193

In [51]:
gi_sum

127674.03810924492