In [1]:
# iMPORT PACKAGES
import pandas as pd
import datetime as dt
import numpy as np

from datetime import timedelta

In [2]:
# READ FILE
inputFile = "dataset_mood_smartphone.csv"
df = pd.read_csv(inputFile, sep = ',')

In [3]:
# DATE TO DATETIME 
def getDate(x):
    return x.date()
    
df['date'] = pd.to_datetime(df['time'])
df['date'] = df['date'].apply(getDate)

In [4]:
print(min(df['date']))
print(max(df['date']))

print((max(df['date'])-min(df['date'])).days)

2014-02-17
2014-06-09
112

In [5]:
ind = df[(df['value']<0) & (df['variable'] != 'circumplex.arousal') & (df['variable'] != 'circumplex.valence')].index
df = df.drop(df.index[ind])

In [6]:
df.head()

   Unnamed: 0       id                     time variable  value        date
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0  2014-02-26
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0  2014-02-26
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0  2014-02-26
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0  2014-02-26
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0  2014-02-27

In [7]:
# MAKE PIVOT

dfGrouped = df.groupby(['id', 'date', 'variable'])['value'].agg(['mean', 'sum']).reset_index()
dfPivot = dfGrouped.pivot_table(index=['id','date'], columns='variable', values=['mean','sum'])

# only keep relevant variables
dfPivot = dfPivot[[('mean', 'activity'), ('mean', 'circumplex.arousal'), ('mean', 'circumplex.valence'), 
         ('mean', 'mood'), ('sum', 'appCat.builtin'), ('sum', 'appCat.communication'), 
         ('sum', 'appCat.entertainment'), ('sum', 'appCat.finance'), ('sum', 'appCat.game'), 
        ('sum', 'appCat.office'), ('sum', 'appCat.other'), ('sum', 'appCat.social'), ('sum', 'appCat.travel'),
        ('sum', 'appCat.unknown'), ('sum', 'appCat.utilities'), ('sum', 'appCat.weather'), ('sum', 'call'), 
         ('sum', 'screen'), ('sum', 'sms')]].reset_index()

# rename columns
cols = ['id', 'date','activity_mean', 'circumplex.arousal_mean',
       'circumplex.valence_mean', 'mood_mean', 'appCat.builtin_sum',
       'appCat.communication_sum', 'appCat.entertainment_sum',
       'appCat.finance_sum', 'appCat.game_sum', 'appCat.office_sum',
       'appCat.other_sum', 'appCat.social_sum', 'appCat.travel_sum',
       'appCat.unknown_sum', 'appCat.utilities_sum', 'appCat.weather_sum',
       'call_sum', 'screen_sum', 'sms_sum']
dfPivot.columns = cols

print(len(dfPivot))
dfPivot.head()

1973

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,appCat.office_sum,appCat.other_sum,appCat.social_sum,appCat.travel_sum,appCat.unknown_sum,appCat.utilities_sum,appCat.weather_sum,call_sum,screen_sum,sms_sum
0,AS14.01,2014-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1,AS14.01,2014-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,AS14.01,2014-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,2.0
3,AS14.01,2014-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0
4,AS14.01,2014-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [8]:
# ADD VALUES DAY AND WEEKDAY
df = dfPivot

def getDay(x):
    return x.days

def getWeekday(x):
    return x.weekday()

df['day'] = (df['date']-min(df['date']))
df['day'] = df['day'].apply(getDay)
df['weekDay'] = df['date'].apply(getWeekday)

df.head()

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,appCat.social_sum,appCat.travel_sum,appCat.unknown_sum,appCat.utilities_sum,appCat.weather_sum,call_sum,screen_sum,sms_sum,day,weekDay
0,AS14.01,2014-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,0,0
1,AS14.01,2014-02-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1,1
2,AS14.01,2014-02-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.0,NaN,2.0,2,2
3,AS14.01,2014-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,3.0,3,3
4,AS14.01,2014-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4,4

In [9]:
# FILL NAN VALUES OF CERTAIN COLUMNS WITH 0 
df[['activity_mean','circumplex.arousal_mean', 'circumplex.valence_mean', 'appCat.builtin_sum',
       'appCat.communication_sum', 'appCat.entertainment_sum',
       'appCat.finance_sum', 'appCat.game_sum', 'appCat.office_sum',
       'appCat.other_sum', 'appCat.social_sum', 'appCat.travel_sum',
       'appCat.unknown_sum', 'appCat.utilities_sum', 'appCat.weather_sum',
       'call_sum', 'screen_sum', 'sms_sum']] = df[['activity_mean', 'circumplex.arousal_mean', 
        'circumplex.valence_mean', 'appCat.builtin_sum',
       'appCat.communication_sum', 'appCat.entertainment_sum',
       'appCat.finance_sum', 'appCat.game_sum', 'appCat.office_sum',
       'appCat.other_sum', 'appCat.social_sum', 'appCat.travel_sum',
       'appCat.unknown_sum', 'appCat.utilities_sum', 'appCat.weather_sum',
       'call_sum', 'screen_sum', 'sms_sum']].fillna(0)

df.head()

,id,date,activity_mean,circumplex.arousal_mean,circumplex.valence_mean,mood_mean,appCat.builtin_sum,appCat.communication_sum,appCat.entertainment_sum,appCat.finance_sum,...,appCat.social_sum,appCat.travel_sum,appCat.unknown_sum,appCat.utilities_sum,appCat.weather_sum,call_sum,screen_sum,sms_sum,day,weekDay
0,AS14.01,2014-02-17,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0,0
1,AS14.01,2014-02-18,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,1
2,AS14.01,2014-02-19,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,2.0,2,2
3,AS14.01,2014-02-20,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,3,3
4,AS14.01,2014-02-21,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4,4

In [10]:
print(df['mood_mean'].isna().sum())
print(len(df))

705
1973

In [ ]:
""" 
#df.to_csv('out.csv', index = False)

df = pd.read_csv('out.csv', sep = ',')
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].apply(getDate)
df.head()
"""

In [11]:
## ADD TIME COLUMNS

timePeriods = 5 
colNames = df.columns.values

for timePeriod in range(1,timePeriods+1):
    for colname in colNames:
        if (colname != "id") and (colname != "date"):
            df[colname+"_time_"+str(timePeriod)] = df.groupby('id')[colname].rolling(window=timePeriod, min_periods = 1).mean().reset_index().iloc[:,2]
        
print(len(df))

1973

In [ ]:
# ADD (REAL) TARGET VALUE 

df['previousDay'] = df['date'] + timedelta(days = -1)

target = df[['id','previousDay', 'mood_mean']]
target.columns = ['id','date', 'mood_mean_TARGET']

df = df.set_index(['id','date']).join(target.set_index(['id','date'])).reset_index()

df = df.drop('previousDay', axis = 1)

print(len(df))

In [ ]:
""" 
## NORMALISE list
def normaliseDF(df):
    maxList = []
    minList = []
    for column in df.columns:
        maxi = df[column].max()
        maxList += [maxi]
        mini = df[column].min()
        minList += [mini]
        if (column != "id") and (column != "date"): # and (column != "mood_mean"):
            df[column] = ((df[column]-mini)/(maxi-mini))
    return df, maxList, minList

df, maxList, minList = normaliseDF(df)
"""

In [13]:
## NORMALISE dict
def normaliseDF(df):
    maxDict = {}
    minDict = {}
    for column in df.columns:
        maxi = df[column].max()
        maxDict[column] = maxi
        mini = df[column].min()
        minDict[column] = mini
        if (column != "id") and (column != "date") and (column != "mood_mean_TARGET"):
            df[column] = ((df[column]-mini)/(maxi-mini))
    return df, maxDict, minDict

df, maxDict, minDict = normaliseDF(df)

In [ ]:
## REVERSE - NORMALISE 
def reverseNormaliseDF(df, maxDict, minDict):
    for column in df.columns:
        maxi = maxDict[column]
        mini = minDict[column]
        if (column != "id") and (column != "date") and (column != "mood_mean"):
            df[column] = (df[column]*(maxi-mini)) + mini
    return df

df = reverseNormaliseDF(df, maxDict, minDict)

In [ ]:
df.head()

1973

In [ ]:
df.head()

In [ ]:
#df.to_csv("out_with_nan_mood.csv", index = False)

In [ ]:
#df.dropna(subset = ['mood_mean'] ).to_csv("out_without_nan_mood.csv", index = False)

In [ ]:
#df.dropna(subset = ['mood_mean_TARGET'] ).to_csv("out_without_nan_mood_target.csv", index = False)

In [ ]:
dfNonNan = df.dropna(subset = ['mood_mean_TARGET'] )

In [ ]:
## SHOW CORRELATIONS 
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
corr = dfNonNan.corr()
corr[['mood_mean_TARGET','mood_mean']].style.background_gradient(cmap='coolwarm')

In [ ]:
corr[abs(corr['mood_mean_TARGET'])>0.1]['mood_mean_TARGET'].sort_values()