In [1]:
import pandas as pd
from sklearn.utils import shuffle
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

In [2]:
dfTest = pd.read_csv('../data/test.csv',usecols=['srch_id','prop_id','prop_starrating', 'prop_review_score', 'prop_brand_bool',
           'prop_location_score1', 'prop_location_score2',
           'prop_log_historical_price','srch_destination_id','orig_destination_distance'])
dfTrain = pd.read_csv('../data/train.csv',usecols=['srch_id','prop_id','prop_starrating', 'prop_review_score', 'prop_brand_bool',
           'prop_location_score1', 'prop_location_score2',
           'prop_log_historical_price','srch_destination_id','booking_bool','orig_destination_distance'])

In [3]:
together = pd.concat([dfTest,dfTrain],axis=0)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [4]:
dfTest['mean_distance'] = dfTest.groupby(['srch_id'])['orig_destination_distance'].mean()
dfTest['diff_distance_orig'] = (dfTest['orig_destination_distance'] - dfTest['mean_distance'])/dfTest['mean_distance']
srchIdMeansTest= dfTest.groupby(['srch_id']).mean().reset_index()

In [5]:
dfTrain['mean_distance'] = dfTrain.groupby(['srch_id'])['orig_destination_distance'].mean()
dfTrain['diff_distance_orig'] = (dfTrain['orig_destination_distance'] - dfTrain['mean_distance'])/dfTrain['mean_distance']
srchIdMeansTrain= dfTrain.groupby(['srch_id']).mean().reset_index()

In [6]:
columnsToAvgPerPropID = ['prop_starrating', 'prop_review_score', 'prop_brand_bool',
           'prop_location_score1', 'prop_location_score2',
           'prop_log_historical_price']
groupedMean = together.groupby('prop_id')[columnsToAvgPerPropID].mean()
groupedMean = groupedMean.add_prefix("mean_").reset_index()
groupedMean.to_csv("meansTotal.csv",index=False)

In [7]:
groupedPropDest = dfTrain.groupby(['srch_destination_id','prop_id']).mean().reset_index()
groupedPropDest = groupedPropDest.rename(columns = {"booking_bool": "booking_prop_dest_mean"})

In [8]:
groupedPropTotal = dfTrain.groupby(['prop_id']).mean().reset_index()
groupedPropTotal = groupedPropTotal.rename(columns = {"booking_bool": "booking_prop_total_mean"})

In [19]:
def joinPropDest(df):
    df = df.merge(right=groupedPropDest[['srch_destination_id','prop_id','booking_prop_dest_mean']],how="left",on=['srch_destination_id','prop_id'],validate="many_to_one")
    return df
def joinPropDestTotal(df):
    df = df.merge(right=groupedPropTotal[['prop_id','booking_prop_total_mean']],how="left",on=['prop_id'],validate="many_to_one")
    return df

In [10]:
def joinDistanceTest(df):
    df = df.merge(right=srchIdMeansTest[['srch_id','diff_distance_orig']],how="left",on=['srch_id'],validate="many_to_one")
    return df
def joinDistanceTrain(df):
    df = df.merge(right=srchIdMeansTrain[['srch_id','diff_distance_orig']],how="left",on=['srch_id'],validate="many_to_one")
    return df

In [11]:
def joinMean(df):
    df = df.merge(right=meanDF,how="left",on="prop_id",validate="many_to_one")
    return df

In [12]:
meanDF= pd.read_csv("meansTotal.csv")

In [13]:
mms = MinMaxScaler()
data = meanDF.drop(['prop_id','mean_prop_review_score','mean_prop_location_score2'],axis=1)
mms.fit(data)
data_transformed = mms.transform(data)
km = KMeans(n_clusters=6)
km = km.fit(data_transformed)

E:\Anaconda\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [14]:
dummiesCluster = pd.get_dummies(km.labels_,prefix = "cluster_")

In [15]:
meanDF = pd.concat([meanDF,dummiesCluster],axis=1)

In [16]:
df = pd.read_csv('../data/test.csv')

In [17]:
df = joinMean(df)

In [20]:
df = joinPropDest(df)
df = joinPropDestTotal(df)

In [21]:
df = joinDistanceTest(df)

In [22]:
df.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,mean_prop_log_historical_price,cluster__0,cluster__1,cluster__2,cluster__3,cluster__4,cluster__5,booking_prop_dest_mean,booking_prop_total_mean,diff_distance_orig
0,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,3180,3,4.5,...,4.196765,1,0,0,0,0,0,0.077778,0.043011,NaN
1,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,5543,3,4.5,...,4.283044,1,0,0,0,0,0,0.142857,0.053279,NaN
2,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,14142,2,3.5,...,3.786120,0,0,0,0,0,1,0.000000,0.013423,NaN
3,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,22393,3,4.5,...,4.295411,1,0,0,0,0,0,0.026316,0.013793,NaN
4,1,2013-02-02 15:27:40,24,216,NaN,NaN,219,24194,3,4.5,...,4.011241,1,0,0,0,0,0,0.010870,0.014634,NaN

In [23]:
df.to_csv('../data/testWithMean.csv',index=False)

In [24]:
df = pd.read_csv('../data/train.csv')
df = joinMean(df)
df = joinPropDest(df)
df = joinPropDestTotal(df)
df = joinDistanceTrain(df)
df.to_csv('../data/trainWithMean.csv',index=False)

Split train in train and test

In [25]:
df = shuffle(df,random_state = 10)

In [26]:
n = 20
numOfRowsTest = (int(len(df)*(n/100)))
X_test = df.tail(numOfRowsTest)
df.drop(df.tail(numOfRowsTest).index,inplace=True)

In [27]:
X_test.to_csv('../data/20PercentTestWithMean.csv',index=False)
df.to_csv('../data/80PercentTrainWithMean.csv',index=False)