In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/train.csv')

In [7]:
columnsToAvgPerPropID = ['prop_id','prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price']
for colname in columnsToAvgPerPropID:
    df[colname+"_mean"] = df.groupby('prop_id')[colname].mean()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,click_bool,gross_bookings_usd,booking_bool,prop_id_mean,prop_starrating_mean,prop_review_score_mean,prop_brand_bool_mean,prop_location_score1_mean,prop_location_score2_mean,prop_log_historical_price_mean
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,0,NaN,0,1.0,2.0,0.0,1.0,3.04,NaN,3.645246
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,0,NaN,0,2.0,0.0,4.0,1.0,0.69,0.036100,3.300000
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,0,NaN,0,3.0,3.0,3.5,1.0,0.69,0.035055,4.165122
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,0,NaN,0,4.0,5.0,4.5,1.0,4.88,0.115500,4.965000
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,...,0,NaN,0,5.0,0.0,0.0,0.0,6.02,NaN,3.533333
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,...,0,NaN,0,6.0,3.0,0.0,0.0,2.30,0.018763,3.664000
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,0,NaN,0,7.0,0.0,5.0,0.0,6.49,0.124700,4.374286
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,...,0,NaN,0,8.0,3.0,4.0,0.0,3.99,0.071900,3.924000
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,...,0,NaN,0,9.0,2.0,3.0,1.0,1.79,0.042000,4.031765
10,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59267,3,0.0,...,0,NaN,0,10.0,4.0,5.0,0.0,0.00,NaN,5.085000
11,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,59526,3,3.5,...,0,NaN,0,11.0,4.0,4.0,0.0,4.65,0.169251,4.554427
12,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,68914,2,3.0,...,1,114.29,1,12.0,3.0,4.5,0.0,4.56,NaN,4.843333
13,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,74474,3,4.5,...,0,NaN,0,13.0,0.0,0.0,1.0,1.61,0.006600,3.090000
14,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,81437,3,4.0,...,0,NaN,0,14.0,2.0,0.0,0.0,1.61,0.014600,4.625000
15,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,85728,2,3.0,...,0,NaN,0,15.0,4.0,3.5,0.0,2.08,0.018637,4.075934
16,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88096,4,4.0,...,0,NaN,0,16.0,5.0,5.0,0.0,4.01,0.123675,4.905862
17,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88127,3,3.0,...,0,NaN,0,17.0,3.0,3.5,1.0,3.78,0.103425,2.728704
18,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,88218,4,3.5,...,0,NaN,0,18.0,3.0,3.5,1.0,1.39,0.008375,4.632308
19,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,89073,4,4.0,...,0,NaN,0,19.0,3.0,0.0,0.0,1.39,0.006500,3.974167
20,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95166,3,4.0,...,0,NaN,0,20.0,3.0,4.5,0.0,2.71,0.059000,5.140000
21,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,95307,4,3.5,...,0,NaN,0,21.0,0.0,0.0,0.0,3.76,NaN,0.000000
22,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,97247,2,3.5,...,0,NaN,0,22.0,3.0,3.0,0.0,0.00,0.105300,2.420000
23,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,107872,2,3.5,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111000,3,4.5,...,0,NaN,0,24.0,4.0,3.5,0.0,0.69,0.018600,4.765385
25,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,111106,3,2.5,...,0,NaN,0,25.0,0.0,4.5,0.0,0.00,NaN,2.470000
26,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,114766,2,3.5,...,0,NaN,0,26.0,4.0,4.5,0.0,0.00,0.050200,4.906000
27,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,122844,3,4.5,...,0,NaN,0,27.0,4.0,3.0,1.0,1.10,0.188600,4.710000
28,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,3625,4,4.0,...,0,NaN,0,28.0,1.0,0.0,0.0,4.62,NaN,2.250000
29,4,2012-12-31 08:59:22,5,219,NaN,NaN,219,11622,4,4.0,...,0,NaN,0,29.0,3.0,4.5,1.0,1.39,0.055750,4.424545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,32491,3,4.5,...,0,NaN,0,70.0,0.0,4.0,0.0,3.09,0.370836,4.909375
71,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,33805,3,3.5,...,0,NaN,0,71.0,4.0,3.0,1.0,2.48,0.253600,0.000000
72,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,35397,3,4.5,...,0,NaN,0,72.0,3.0,0.0,0.0,2.94,0.036800,5.250000
73,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,39137,2,3.5,...,0,NaN,0,73.0,2.0,3.5,1.0,2.77,0.296477,3.928710
74,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,41497,3,4.5,...,0,NaN,0,74.0,0.0,4.0,1.0,1.79,0.062600,3.978333
75,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,54403,2,3.5,...,0,NaN,0,75.0,3.0,4.0,0.0,3.43,0.169700,4.371250
76,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,58176,0,0.0,...,0,NaN,0,76.0,3.0,4.5,0.0,2.89,0.152100,3.770000
77,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,63511,3,4.5,...,0,NaN,0,77.0,3.0,0.0,0.0,4.54,NaN,2.745000
78,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,66444,4,4.5,...,0,NaN,0,78.0,2.0,1.5,0.0,0.69,0.057489,3.692750
79,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,67150,4,4.5,...,0,NaN,0,79.0,2.0,4.5,1.0,1.10,0.318900,3.813000
80,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,73738,3,4.5,...,0,NaN,0,80.0,2.0,0.0,0.0,3.76,NaN,0.000000
81,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,83293,3,4.5,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,90151,5,4.5,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,119302,3,3.5,...,0,NaN,0,83.0,3.0,2.0,1.0,1.79,0.135700,3.653333
84,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,125655,3,4.0,...,0,NaN,0,84.0,5.0,4.5,1.0,4.04,0.118300,5.320000
85,8,2013-03-20 17:50:44,5,219,NaN,NaN,219,134607,3,4.5,...,0,NaN,0,85.0,4.0,3.5,1.0,1.39,0.034100,4.744000
86,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,6492,2,4.0,...,0,NaN,0,86.0,5.0,4.5,0.0,3.40,0.100150,4.508710
87,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,8946,3,4.5,...,0,NaN,0,87.0,3.0,4.0,1.0,4.49,0.200780,3.684167
88,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,9952,2,3.0,...,0,NaN,0,88.0,3.0,4.0,1.0,2.20,0.180490,3.556410
89,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,19470,2,3.5,...,0,NaN,0,89.0,5.0,5.0,0.0,0.00,0.009916,4.753229
90,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,20499,2,3.5,...,1,NaN,0,90.0,4.0,4.0,0.0,1.95,0.002400,4.001875
91,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,24526,3,4.0,...,0,NaN,0,91.0,4.0,4.0,1.0,1.79,0.057790,5.086257
92,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,26421,3,5.0,...,0,NaN,0,92.0,3.0,4.5,1.0,0.00,0.018911,4.098409
93,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,27675,3,4.5,...,0,NaN,0,93.0,3.0,5.0,1.0,0.00,0.009900,3.607500
94,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,28364,3,4.5,...,0,NaN,0,94.0,3.0,0.0,0.0,1.79,0.068725,4.155455
95,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,33980,3,5.0,...,0,NaN,0,95.0,2.0,0.0,0.0,4.16,0.564367,3.774286
96,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,35021,3,4.0,...,0,NaN,0,96.0,1.0,0.0,0.0,4.33,0.015500,2.060000
97,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,38443,3,4.0,...,0,NaN,0,97.0,2.0,3.5,1.0,0.69,0.026991,4.040377
98,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,47116,3,4.5,...,0,NaN,0,98.0,2.0,4.0,0.0,3.61,0.117100,4.430000
99,11,2013-02-25 08:39:33,5,219,NaN,NaN,219,59898,3,0.0,...,0,NaN,0,99.0,5.0,0.0,0.0,1.79,NaN,5.085000