In [1]:
import pandas as pd
import numpy as np
import sklearn
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle
from sklearn.utils import shuffle
from sklearn import tree
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor

In [5]:
df = pd.read_csv("C:/Users/janine van wonderen/Desktop/dmt2/80PercentTrainWithMean.csv",delimiter=",", 
                 usecols = ['srch_id', 'prop_id', 'click_bool','booking_bool','price_usd'])

In [6]:
df= shuffle(df)

In [7]:
benchmark_solution = df.sort_values(["srch_id"])

In [8]:
benchmark_solution.head()

         srch_id  prop_id  price_usd  click_bool  booking_bool
321416         1    27348     602.77           0             0
3807443        1    95307     139.70           0             0
1548249        1    74474     210.84           0             0
3621850        1    68914     100.89           1             1
1722890        1   111000     181.09           0             0

In [63]:
def getScore(df):
    df['rank_srch_id'] = df.groupby('srch_id').cumcount().add(1)
    
    df['gain'] = 5*df['booking_bool']
    df['gain'] = np.where(df['gain'] == 0, df['click_bool'], df['gain'])  

    df['g/rank'] = df['gain']/df['rank_srch_id']
    gi_sum = df['g/rank'].sum()
    print(gi_sum)
    df['gain_sorted'] = list(df[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
    df['g/rank_sorted'] = df['gain_sorted']/df['rank_srch_id']
    gi_sorted_sum = df['g/rank_sorted'].sum()
    print(gi_sorted_sum)
    score = gi_sum/gi_sorted_sum

    return score, gi_sum, gi_sorted_sum

In [10]:
score, gi_sum, gi_sorted_sum = getScore(benchmark_solution)
print(round(score,3))

0.208

In [11]:
benchmark_solution2 = df.sort_values(["srch_id", "price_usd"])
benchmark_solution2.head()

         srch_id  prop_id  price_usd  click_bool  booking_bool
1227077        1    50984      85.37           0             0
3621850        1    68914     100.89           1             1
3895314        1    59526     100.89           0             0
2565125        1      893     104.77           0             0
3763511        1   114766     104.77           0             0

In [12]:
score, gi_sum, gi_sorted_sum = getScore(benchmark_solution2)
print(round(score,3))

0.247