In [1]:
import pandas as pd
import numpy as np
import sklearn
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle
from sklearn.utils import shuffle
from sklearn import tree
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingRegressor

In [3]:
path = '/Users/cathytol/Documents/DMT/dmt-data/'
trainOnlyColumns = ['position','click_bool','booking_bool','gross_bookings_usd']

colsToUse = ['srch_id', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance_x', 'random_bool', 'comp1_rate', 'comp1_inv',
       'comp1_rate_percent_diff', 'comp2_rate', 'comp2_inv',
       'comp2_rate_percent_diff', 'comp3_rate', 'comp3_inv',
       'comp3_rate_percent_diff', 'comp4_rate', 'comp4_inv',
       'comp4_rate_percent_diff', 'comp5_rate', 'comp5_inv',
       'comp5_rate_percent_diff', 'comp6_rate', 'comp6_inv',
       'comp6_rate_percent_diff', 'comp7_rate', 'comp7_inv',
       'comp7_rate_percent_diff', 'comp8_rate', 'comp8_inv',
       'comp8_rate_percent_diff', 'mean_prop_starrating', 'mean_prop_review_score',
       'mean_prop_brand_bool', 'mean_prop_location_score1',
       'mean_prop_location_score2', 'mean_prop_log_historical_price',
       'cluster__0', 'cluster__1', 'cluster__2', 'cluster__3', 'cluster__4',
       'cluster__5', 'bookingSum', 'orig_destination_distance_y']

inputFile = path + "80PercentTrainWithMean.csv"
dfTrain = pd.read_csv(inputFile, sep = ',')
print(len(dfTrain))

#X_train = dfTrain.drop(trainOnlyColumns, axis=1)
X_train = dfTrain[colsToUse]
Y_click_train = dfTrain['click_bool']
Y_book_train = dfTrain['booking_bool']

inputFile = path + "20PercentTestWithMean.csv"
dfTest = pd.read_csv(inputFile, sep = ',')
print(len(dfTest))

#X_test = dfTest.drop(trainOnlyColumns, axis=1)
X_test = dfTest[colsToUse]
Y_click_test = dfTest['click_bool']
Y_book_test = dfTest['booking_bool']


inputFile = path + "testWithMean.csv"
dfEval = pd.read_csv(inputFile, sep = ',')
print(len(dfEval))

X_eval = dfEval[colsToUse]

3966678
991669
4959183

In [11]:
df = pd.read_csv("C:/Users/janine van wonderen/Desktop/dmt2/training_set_VU_DM.csv",delimiter=",", usecols = ['srch_id', 'site_id', 'visitor_location_country_id',
       'visitor_hist_starrating', 'visitor_hist_adr_usd', 'prop_country_id',
       'prop_id', 'prop_starrating', 'prop_review_score', 'prop_brand_bool',
       'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'srch_query_affinity_score',
       'orig_destination_distance', 'random_bool', 'comp1_rate', 'comp1_inv', 'click_bool', 'gross_bookings_usd',
       'booking_bool'])
df = shuffle(df)

In [13]:
n = 20
numOfRowsTest = (int(len(df2)*(n/100)))
testset = df.tail(numOfRowsTest)

benchmark_solution = testset[["srch_id", "prop_id", "click_bool", "booking_bool"]].sort_values(["srch_id"])

    srch_id  prop_id  click_bool  booking_bool
17        1    88127           0             0
24        1   111000           0             0
22        1    97247           0             0
1         1    10404           0             0
33        4    39993           0             0

In [30]:
benchmark_solution = dfTest[["srch_id", "prop_id", "click_bool", "booking_bool"]].sort_values(["srch_id"])

In [31]:
benchmark_solution

        srch_id  prop_id  click_bool  booking_bool
651142        1   122844           0             0
751778        1    88127           0             0
468652        1    29604           0             0
972802        1    85728           0             0
24510         1    97247           0             0
782742        1    21315           0             0
284615        4    85742           0             0
713408        4    46162           0             0
502808        4    58696           0             0
291072        4   127808           0             0
375083        4    97099           0             0
669060        4   109185           0             0
706236        4    81172           0             0
157573        4    11826           0             0
653113        6    10759           0             0
168078        6   104251           1             1
631326        8    41497           0             0
216033       11    59898           0             0
984262       11    80764           0             0
818202       11    86294           0             0
28759        11    73511           0             0
26697        11   122888           0             0
612015       12    12510           0             0
588441       12   105912           0             0
363184       12    45722           0             0
485742       12   113997           0             0
23834        12   114662           0             0
777095       12    17122           0             0
143890       17    66095           0             0
880053       17   104381           0             0
...         ...      ...         ...           ...
786619   332774    44115           0             0
1698     332774    94086           0             0
376472   332774    56562           0             0
726918   332774    45093           0             0
961420   332776    92981           0             0
557359   332776   104435           0             0
459127   332776   106758           1             1
449620   332777    93406           0             0
201220   332777    66785           0             0
437642   332777    20969           0             0
64801    332777   114204           0             0
841427   332777   101586           0             0
19794    332777   129539           0             0
735743   332777    59058           0             0
531022   332781   115831           0             0
286846   332781    26996           0             0
403420   332782    10505           0             0
615621   332782   102157           0             0
326313   332782    56902           0             0
942924   332782   106689           0             0
387252   332782    68398           1             1
782526   332782     9648           0             0
505333   332782    24169           0             0
104548   332782    22617           0             0
40180    332782    27305           0             0
224706   332784    50151           0             0
160234   332784    90665           0             0
987614   332784    51555           0             0
348586   332784   114177           0             0
385558   332784    55158           0             0

[991669 rows x 4 columns]

In [32]:
import math
def getLog(x):
    return math.log(x+1,2)

In [33]:
def getScore(df):
    df['rank_srch_id'] = df.groupby('srch_id').cumcount().add(1)
    
    df['gain'] = 5*df['booking_bool']
    df['gain'] = np.where(df['gain'] == 0, df['click_bool'], df['gain'])
    df['log_rank'] = df['rank_srch_id'].apply(getLog)
    
    df['g/rank'] = df['gain']/df['log_rank']
    gi_sum = df['g/rank'].sum()

    df['gain_sorted'] = list(df[['srch_id', 'booking_bool', 'click_bool', 'gain']].sort_values(by = ['srch_id','booking_bool','click_bool'], ascending = [True, False, False])['gain'])
    df['g/rank_sorted'] = df['gain_sorted']/df['log_rank']
    gi_sorted_sum = df['g/rank_sorted'].sum()
    
    score = gi_sum/gi_sorted_sum

    return score, gi_sum, gi_sorted_sum

In [34]:
#score, gi_sum, gi_sorted_sum = getScore(X_fin.sort_values(by=['srch_id', 'pred_booking_bool', 'pred_click_bool'], ascending = [True, False, False]).reset_index(drop=True))
score, gi_sum, gi_sorted_sum = getScore(benchmark_solution)

print(score)
print(gi_sum)
print(gi_sorted_sum)

0.5986379633252974
93255.0576440449
155778.72329719004